<!DOCTYPE html>
<html>
  <head>
	<script src="http://github.com/LearnBoost/Socket.IO/raw/master/socket.io.js"></script> 
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- body %>
  </body>
</html>
